<a href="https://colab.research.google.com/github/SaniaNurunnisaHaq/phyton-sunny/blob/main/P8_Latihan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [7]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [14]:
list_numbers[0] = 100 # mengubah elemen pertama menjadi 100
print(list_numbers[0])

100

In [15]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [17]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [18]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [8]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

In [9]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [10]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [5]:
arr = [ 2,4,2,6,8,0]
#nilai maksimum
max = arr[0]
for elemen in arr:
    if elemen > max:
        max = elemen
print("jadi nilai maksimal adalah ",max)

#nilai minimum
min = arr[0]
for elemen in arr:
    if elemen < min:
        min = elemen
print("jadi nilai mminimal adalah", min)

#hasil penjumlahan seluruh elemen
total = 0
for elemen in arr:
    total += elemen
print("jadi hasil seluruhnya adalah", total)

#jumlah seluruh elemen
count = 0
for elemen in arr:
    count += 1
print("jadi jumlah seluruh elemen adalah", count)

#rata-rata seluruh elemen
rata = total / count
print("jadi rata-ratanya adalah",rata)

jadi nilai maksimal adalah  8
jadi nilai mminimal adalah 0
jadi hasil seluruhnya adalah 22
jadi jumlah seluruh elemen adalah 6
jadi rata-ratanya adalah 3.6666666666666665

In [ ]:
#short way
print(max(arr))
print(min(arr))
print(sum(arr))
print(len(arr))
print(sum(arr)/len(arr))

In [1]:
# Soal 2
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12